.noToken {
  background-color: black;
  color: white;
}
.noToken {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.noToken a {
  box-shadow: inset 0px 0px 3px 0px;
  border-radius: 5px;
  width: 200px;
  text-align: center;
  padding-top: 3px;
  padding-bottom: 3px;
}
.noToken :first-child {
  margin-top: 30svh;
}
.noToken :last-child {
  margin-top: 30px;
}
.noToken a {
  color: white;
}

.updateStatus {
  font-weight: 600;
}

.updateStatus span {
  font-weight: 500;
  color: white;
}

.options {
  margin-top: 20px;
  display: flex;
  align-items: center;
  position: relative;
  flex-wrap: wrap;

  .status {
    margin-left: auto;
    margin-right: 180px;
  }

  .status span {
    position: relative;
    transition: all 300ms ease-in-out;
    margin-left: 20px;
    padding-bottom: 5px;
    cursor: pointer;
  }
}

.search {
  margin-left: 10px;
  margin-right: 20px;
  height: 25px;
}

.search input {
  background-color: black;
  color: white;
  height: 100%;
  padding-left: 5px;
  margin-right: 5px;
  border-radius: 5px;
}

.search input::placeholder {
  color: white;
}

.search button {
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  font-size: medium;
}

.search button:hover {
  scale: 1.1;
  color: #00ceff;
}
.orders {
  margin-top: 20px;
  padding-bottom: 20px;
}
.orders > p {
  text-align: center;
  font-size: x-large;
  font-weight: bold;
  margin-top: 20svh;
}
.loading {
  margin-top: 0px !important;
}
.order {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  margin: 10px auto;
  gap: 10px;
  width: 580px;
  height: 200px;
  padding: 5px;
  box-shadow: inset 0px 0px 3px 0px white;
  border-radius: 5px;
}

.name {
  grid-row: 1/2;
  grid-column: 1/-1;
  text-overflow: ellipsis;
  overflow: hidden;
  text-wrap: nowrap;
  color: rgb(141, 208, 235);
  font-weight: bold;
  font-size: medium;
}
.imgLink {
  grid-row: 2/-1;
  grid-column: 1/2;
  display: flex;
  max-height: 100%;
  background-color: white;
  border-radius: 3px;
}
.imgLink img {
  width: fit-content;
  height: fit-content;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}
.arriving {
  grid-column: 2/-1;
  font-weight: bold;
}
.arriving span {
  font-weight: normal;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 14px;
  text-wrap: nowrap;
}
.qty {
  grid-column: 2/3;
}
.price span {
  font-weight: bold;
}
.tOfP {
  grid-column: 2/-1;
}

@media only screen and (max-width: 830px) {
  .options {
    .status {
      margin-right: 10px;
    }
  }

  .search {
    margin-top: 20px;
    margin-left: auto;
    padding-left: 181px;
  }
}

@media only screen and (min-width: 480px) {
  .options > p {
    font-size: larger;
    margin-left: 2rem;
  }
}

@media only screen and (max-width: 480px) {
  .order {
    width: 100%;
    font-size: 14px;
    height: 170px;
  }

  .options {
    margin-top: 5px;
    padding-left: 5px;
    padding-right: 5px;

    .status {
      margin-right: 10px;
      font-size: small;
    }

    .time a {
      font-size: small;
    }

    .time p {
      font-size: small;
    }
  }

  .options > p {
    font-size: larger;
  }

  .search {
    margin-top: 20px;
    padding-left: 0px;
    width: 70%;
    margin-right: 0px;
  }

  .search input {
    margin-left: 2rem;
    width: 60%;
  }
}

@keyframes loading {
  0% {
    background-color: hsl(200, 20%, 70%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}
